# required
python-dateutil~=2.8.2
disnake~=2.5.2
numpy~=1.23.1
requests~=2.25.1
Pillow~=9.2.0
colormap~=1.0.4
easydev~=0.12.0
epicstore-api~=0.1.3
python-dotenv~=0.20.0

# optional (linux only)
uvloop~=0.16.0
